@import 'bootstrap.min.css';
@import 'bootstrap-theme-min.css';
@import '../fonts/aller-font.css';
@import '../fonts/social-icons.css';
@import 'gradients.css';
.BKNO{background:transparent}
.ZI100{z-index:100}
.RN{resize:none}
.bbb{border:1px solid #f60}
.clear{clear:both}
.left{float:left}
.right{float:right}
.Tleft{text-align:left}
.Tright{text-align:right}
.Tcenter{text-align:center}
.Tjustify{text-align:justify}
.WSNW{white-space:nowrap}
.FWN{font-weight:normal}
.FWB{font-weight:bold}
.FSI{font-style:italic}
.TDU{text-decoration:underline}
.TDN{text-decoration:none}
.TTUC{text-transform:uppercase}
.TTLC{text-transform:lowercase}
.TDLT{text-decoration:line-through}
.FZ6{font-size:6px}
.FZ8{font-size:8px}
.FZ10{font-size:10px}
.FZ12{font-size:12px}
.FZ14{font-size:14px}
.FZ16{font-size:16px}
.FZ18{font-size:18px}
.FZ20{font-size:20px}
.FZ22{font-size:22px}
.FZ24{font-size:24px}
.FZ26{font-size:26px}
.FZ28{font-size:28px}
.FZ30{font-size:30px}
.FZ32{font-size:32px}
.LH14{line-height:14px}
.LH16{line-height:16px}
.LH18{line-height:18px}
.LH20{line-height:20px}
.LH22{line-height:22px}
.LH24{line-height:24px}
.LH26{line-height:26px}
.LH28{line-height:28px}
.LH30{line-height:30px}
.LH32{line-height:32px}
.LH34{line-height:34px}
li,ul{list-style:none}
ul.LSD li{list-style:disc;list-style-position:inside}
ol li{list-style:decimal}
.SEP liafter{content:'|';padding:0 5px}
.SEP lilast-childafter{content:''}
.SEP2 liafter{content:'|';padding:0 10px;color:#44c8f5}
.SEP2 lilast-childafter{content:''}
.LIDI li{display:inline;float:left}
table.TBN td{border:none}
table.TNP td{padding:0}
td.TDNP,th.TDNP{padding:0}
.TFS14 th,.TFS14 td{font-size:14px}
.TFS16 th,.TFS16 td{font-size:16px}
.TFS18 th,.TFS18 td{font-size:16px}
alink{transition:all .3s ease-in-out}
.DB{display:block}
.DBI{display:inline-block}
.DI{display:inline}
.PR{position:relative}
.PA{position:absolute}
.spacer5{margin-bottom:5px}
.spacer10{margin-bottom:10px}
.spacer15{margin-bottom:15px}
.spacer20{margin-bottom:20px}
.spacer25{margin-bottom:25px}
.spacer30{margin-bottom:30px}
.spacer35{margin-bottom:35px}
.spacer40{margin-bottom:40px}
.spacer45{margin-bottom:45px}
.spacer50{margin-bottom:50px}
.spacer55{margin-bottom:55px}
.spacer60{margin-bottom:60px}
.spacer65{margin-bottom:65px}
.spacer70{margin-bottom:70px}
.spacer75{margin-bottom:75px}
.spacer80{margin-bottom:80px}
.spacer85{margin-bottom:85px}
.spacer90{margin-bottom:90px}
.spacer95{margin-bottom:95px}
.spacer100{margin-bottom:100px}
.spacer150{margin-bottom:150px}
.spacer200{margin-bottom:200px}
.spacer250{margin-bottom:250px}
.spacer300{margin-bottom:300px}
.spacer350{margin-bottom:350px}
.spacer400{margin-bottom:400px}
.spacer450{margin-bottom:450px}
.flw100{float:left;width:100%}
.flw90{float:left;width:90%}
.frw90{float:right;width:90%}
.flw80{float:left;width:80%}
.frw80{float:right;width:80%}
.flw75{float:left;width:75%}
.frw75{float:right;width:75%}
.flw65{float:left;width:65%}
.frw65{float:right;width:65%}
.flw60{float:left;width:60%}
.frw60{float:right;width:60%}
.flw55{float:left;width:55%}
.frw55{float:right;width:55%}
.flw50{float:left;width:50%}
.frw50{float:right;width:50%}
.flw48{float:left;width:48%}
.frw48{float:right;width:48%}
.flw45{float:left;width:45%}
.frw45{float:right;width:45%}
.flw40{float:left;width:40%}
.frw40{float:right;width:40%}
.flw35{float:left;width:35%}
.frw35{float:right;width:35%}
.flw33{float:left;width:33%}
.frw33{float:right;width:33%}
.flw30{float:left;width:30%}
.frw30{float:right;width:30%}
.flw28{float:left;width:28%}
.frw28{float:right;width:28%}
.flw25{float:left;width:25%}
.frw25{float:right;width:25%}
.flw20{float:left;width:20%}
.frw20{float:right;width:20%}
.flw15{float:left;width:15%}
.frw15{float:right;width:15%}
.flw10{float:left;width:10%}
.frw10{float:right;width:10%}
.PA0{padding:0}
.PA1{padding:1px}
.PA2{padding:2px}
.PA3{padding:3px}
.PA4{padding:4px}
.PA5{padding:5px}
.PA6{padding:6px}
.PA7{padding:7px}
.PA8{padding:8px}
.PA9{padding:9px}
.PA10{padding:10px}
.PA15{padding:15px}
.PA20{padding:20px}
.PA25{padding:25px}
.PA30{padding:30px}
.PA35{padding:35px}
.PA40{padding:40px}
.PA45{padding:45px}
.PA50{padding:50px}
.PA55{padding:55px}
.PA60{padding:60px}
.PA65{padding:65px}
.PA70{padding:70px}
.PA75{padding:75px}
.PA80{padding:80px}
.PA85{padding:85px}
.PA90{padding:90px}
.PA95{padding:95px}
.PA100{padding:100px}
.PT0{padding-top:0}
.PT1{padding-top:1px}
.PT2{padding-top:2px}
.PT3{padding-top:3px}
.PT4{padding-top:4px}
.PT5{padding-top:5px}
.PT6{padding-top:6px}
.PT7{padding-top:7px}
.PT8{padding-top:8px}
.PT9{padding-top:9px}
.PT10{padding-top:10px}
.PT15{padding-top:15px}
.PT20{padding-top:20px}
.PT25{padding-top:25px}
.PT30{padding-top:30px}
.PT35{padding-top:35px}
.PT40{padding-top:40px}
.PT45{padding-top:45px}
.PT50{padding-top:50px}
.PT55{padding-top:55px}
.PT60{padding-top:60px}
.PT65{padding-top:65px}
.PT70{padding-top:70px}
.PT75{padding-top:75px}
.PT80{padding-top:80px}
.PT85{padding-top:85px}
.PT90{padding-top:90px}
.PT95{padding-top:95px}
.PT100{padding-top:100px}
.PB0{padding-bottom:0}
.PB1{padding-bottom:1px}
.PB2{padding-bottom:2px}
.PB3{padding-bottom:3px}
.PB4{padding-bottom:4px}
.PB5{padding-bottom:5px}
.PB6{padding-bottom:6px}
.PB7{padding-bottom:7px}
.PB8{padding-bottom:8px}
.PB9{padding-bottom:9px}
.PB10{padding-bottom:10px}
.PB15{padding-bottom:15px}
.PB20{padding-bottom:20px}
.PB25{padding-bottom:25px}
.PB30{padding-bottom:30px}
.PB35{padding-bottom:35px}
.PB40{padding-bottom:40px}
.PB45{padding-bottom:45px}
.PB50{padding-bottom:50px}
.PB55{padding-bottom:55px}
.PB60{padding-bottom:60px}
.PB65{padding-bottom:65px}
.PB70{padding-bottom:70px}
.PB75{padding-bottom:75px}
.PB80{padding-bottom:80px}
.PB85{padding-bottom:85px}
.PB90{padding-bottom:90px}
.PB95{padding-bottom:95px}
.PB100{padding-bottom:100px}
.PL0{padding-left:0}
.PL1{padding-left:1px}
.PL2{padding-left:2px}
.PL3{padding-left:3px}
.PL4{padding-left:4px}
.PL5{padding-left:5px}
.PL6{padding-left:6px}
.PL7{padding-left:7px}
.PL8{padding-left:8px}
.PL9{padding-left:9px}
.PL10{padding-left:10px}
.PL15{padding-left:15px}
.PL20{padding-left:20px}
.PL25{padding-left:25px}
.PL30{padding-left:30px}
.PL35{padding-left:35px}
.PL40{padding-left:40px}
.PL45{padding-left:45px}
.PL50{padding-left:50px}
.PL55{padding-left:55px}
.PL60{padding-left:60px}
.PL65{padding-left:65px}
.PL70{padding-left:70px}
.PL75{padding-left:75px}
.PL80{padding-left:80px}
.PL85{padding-left:85px}
.PL90{padding-left:90px}
.PL95{padding-left:95px}
.PL100{padding-left:100px}
.PR0{padding-right:0}
.PR1{padding-right:1px}
.PR2{padding-right:2px}
.PR3{padding-right:3px}
.PR4{padding-right:4px}
.PR5{padding-right:5px}
.PR6{padding-right:6px}
.PR7{padding-right:7px}
.PR8{padding-right:8px}
.PR9{padding-right:9px}
.PR10{padding-right:10px}
.PR15{padding-right:15px}
.PR20{padding-right:20px}
.PR25{padding-right:25px}
.PR30{padding-right:30px}
.PR35{padding-right:35px}
.PR40{padding-right:40px}
.PR45{padding-right:45px}
.PR50{padding-right:50px}
.PR55{padding-right:55px}
.PR60{padding-right:60px}
.PR65{padding-right:65px}
.PR70{padding-right:70px}
.PR75{padding-right:75px}
.PR80{padding-right:80px}
.PR85{padding-right:85px}
.PR90{padding-right:90px}
.PR95{padding-right:95px}
.PR100{padding-right:100px}
.PPL1{padding-left:1%}
.PPL2{padding-left:2%}
.PPL3{padding-left:3%}
.PPL4{padding-left:4%}
.PPL5{padding-left:5%}
.PPL6{padding-left:6%}
.PPL7{padding-left:7%}
.PPL8{padding-left:8%}
.PPL9{padding-left:9%}
.PPL10{padding-left:10%}
.PPL20{padding-left:20%}
.PPL30{padding-left:30%}
.PPL40{padding-left:40%}
.PPL50{padding-left:50%}
.PPR1{padding-right:1%}
.PPR2{padding-right:2%}
.PPR3{padding-right:3%}
.PPR4{padding-right:4%}
.PPR5{padding-right:5%}
.PPR6{padding-right:6%}
.PPR7{padding-right:7%}
.PPR8{padding-right:8%}
.PPR9{padding-right:9%}
.PPR10{padding-right:10%}
.PPR20{padding-right:20%}
.PPR30{padding-right:30%}
.PPR40{padding-right:40%}
.PPR50{padding-right:50%}
.MH5{min-height:5px}
.MH10{min-height:10px}
.MH15{min-height:15px}
.MH20{min-height:20px}
.MH25{min-height:25px}
.MH30{min-height:30px}
.MH35{min-height:35px}
.MH40{min-height:40px}
.MH45{min-height:45px}
.MH50{min-height:50px}
.MH55{min-height:55px}
.MH60{min-height:60px}
.MH65{min-height:65px}
.MH70{min-height:70px}
.MH75{min-height:75px}
.MH80{min-height:80px}
.MH85{min-height:85px}
.MH90{min-height:90px}
.MH95{min-height:95px}
.MH100{min-height:100px}
.MH150{min-height:150px}
.MH200{min-height:200px}
.MH250{min-height:250px}
.MH300{min-height:300px}
.MH350{min-height:350px}
.MH400{min-height:400px}
.MH450{min-height:450px}
.MH500{min-height:500px}
.w5{width:5%}
.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w25{width:25%}
.w30{width:30%}
.w35{width:35%}
.w40{width:40%}
.w45{width:45%}
.w46{width:46%}
.w47{width:47%}
.w48{width:48%}
.w49{width:49%}
.w50{width:50%}
.w60{width:60%}
.w70{width:70%}
.w80{width:80%}
.w90{width:90%}
.w91{width:91%}
.w92{width:92%}
.w93{width:93%}
.w94{width:94%}
.w95{width:95%}
.w96{width:96%}
.w97{width:97%}
.w98{width:98%}
.w99{width:99%}
.w100{width:100%}
.w980px{width:980px}
.M0A{margin:0 auto}
.MA-1{margin:-1px}
.MA-2{margin:-2px}
.MA-4{margin:-4px}
.MA-3{margin:-3px}
.MA-5{margin:-5px}
.MA-6{margin:-6px}
.MA-7{margin:-7px}
.MA-8{margin:-8px}
.MA-9{margin:-9px}
.MA-10{margin:-10px}
.MA0{margin:0}
.MA1{margin:1px}
.MA2{margin:2px}
.MA4{margin:4px}
.MA3{margin:3px}
.MA5{margin:5px}
.MA6{margin:6px}
.MA7{margin:7px}
.MA8{margin:8px}
.MA9{margin:9px}
.MA10{margin:10px}
.MA15{margin:15px}
.MA20{margin:20px}
.MA25{margin:25px}
.MA30{margin:30px}
.MA35{margin:35px}
.MA40{margin:40px}
.MA45{margin:45px}
.MA50{margin:50px}
.MA55{margin:55px}
.MA60{margin:60px}
.MA65{margin:65px}
.MA70{margin:70px}
.MA75{margin:75px}
.MA80{margin:80px}
.MA85{margin:85px}
.MA90{margin:90px}
.MA95{margin:95px}
.MA100{margin:100px}
.MT-1{margin-top:-1px}
.MT-2{margin-top:-2px}
.MT-3{margin-top:-3px}
.MT-4{margin-top:-4px}
.MT-5{margin-top:-5px}
.MT-6{margin-top:-6px}
.MT-7{margin-top:-7px}
.MT-8{margin-top:-8px}
.MT-9{margin-top:-9px}
.MT-10{margin-top:-10px}
.MT0{margin-top:0}
.MT1{margin-top:1px}
.MT2{margin-top:2px}
.MT3{margin-top:3px}
.MT4{margin-top:4px}
.MT5{margin-top:5px}
.MT6{margin-top:6px}
.MT7{margin-top:7px}
.MT8{margin-top:8px}
.MT9{margin-top:9px}
.MT10{margin-top:10px}
.MT15{margin-top:15px}
.MT20{margin-top:20px}
.MT25{margin-top:25px}
.MT30{margin-top:30px}
.MT35{margin-top:35px}
.MT40{margin-top:40px}
.MT45{margin-top:45px}
.MT50{margin-top:50px}
.MT55{margin-top:55px}
.MT60{margin-top:60px}
.MT65{margin-top:65px}
.MT70{margin-top:70px}
.MT75{margin-top:75px}
.MT80{margin-top:80px}
.MT85{margin-top:85px}
.MT90{margin-top:90px}
.MT95{margin-top:95px}
.MT100{margin-top:100px}
.MT105{margin-top:105px}
.MT110{margin-top:110px}
.MT115{margin-top:115px}
.MT120{margin-top:120px}
.MT125{margin-top:125px}
.MT130{margin-top:130px}
.MT135{margin-top:135px}
.MT140{margin-top:140px}
.MT145{margin-top:145px}
.MT150{margin-top:150px}
.MB0{margin-bottom:0}
.MB-1{margin-bottom:-1px}
.MB-2{margin-bottom:-2px}
.MB-3{margin-bottom:-3px}
.MB-4{margin-bottom:-4px}
.MB-5{margin-bottom:-5px}
.MB-6{margin-bottom:-6px}
.MB-7{margin-bottom:-7px}
.MB-8{margin-bottom:-8px}
.MB-9{margin-bottom:-9px}
.MB-10{margin-bottom:-10px}
.MB1{margin-bottom:1px}
.MB2{margin-bottom:2px}
.MB3{margin-bottom:3px}
.MB4{margin-bottom:4px}
.MB5{margin-bottom:5px}
.MB6{margin-bottom:6px}
.MB7{margin-bottom:7px}
.MB8{margin-bottom:8px}
.MB9{margin-bottom:9px}
.MB10{margin-bottom:10px}
.MB15{margin-bottom:15px}
.MB20{margin-bottom:20px}
.MB25{margin-bottom:25px}
.MB30{margin-bottom:30px}
.MB35{margin-bottom:35px}
.MB40{margin-bottom:40px}
.MB45{margin-bottom:45px}
.MB50{margin-bottom:50px}
.MB55{margin-bottom:55px}
.MB60{margin-bottom:60px}
.MB65{margin-bottom:65px}
.MB70{margin-bottom:70px}
.MB75{margin-bottom:75px}
.MB80{margin-bottom:80px}
.MB85{margin-bottom:85px}
.MB90{margin-bottom:90px}
.MB95{margin-bottom:95px}
.MB100{margin-bottom:100px}
.MR-1{margin-right:-1px}
.MR-2{margin-right:-2px}
.MR-3{margin-right:-3px}
.MR-4{margin-right:-4px}
.MR-5{margin-right:-5px}
.MR-6{margin-right:-6px}
.MR-7{margin-right:-7px}
.MR-8{margin-right:-8px}
.MR-9{margin-right:-9px}
.MR-10{margin-right:-10px}
.MR0{margin-right:0}
.MR1{margin-right:1px}
.MR2{margin-right:2px}
.MR3{margin-right:3px}
.MR4{margin-right:4px}
.MR5{margin-right:5px}
.MR6{margin-right:6px}
.MR7{margin-right:7px}
.MR8{margin-right:8px}
.MR9{margin-right:9px}
.MR10{margin-right:10px}
.MR15{margin-right:15px}
.MR20{margin-right:20px}
.MR25{margin-right:25px}
.MR30{margin-right:30px}
.MR35{margin-right:35px}
.MR40{margin-right:40px}
.MR45{margin-right:45px}
.MR50{margin-right:50px}
.MR55{margin-right:55px}
.MR60{margin-right:60px}
.MR65{margin-right:65px}
.MR70{margin-right:70px}
.MR75{margin-right:75px}
.MR80{margin-right:80px}
.MR85{margin-right:85px}
.MR90{margin-right:90px}
.MR95{margin-right:95px}
.MR100{margin-right:100px}
.ML-1{margin-left:-1px}
.ML-2{margin-left:-2px}
.ML-3{margin-left:-3px}
.ML-4{margin-left:-4px}
.ML-5{margin-left:-5px}
.ML-6{margin-left:-6px}
.ML-7{margin-left:-7px}
.ML-8{margin-left:-8px}
.ML-9{margin-left:-9px}
.ML-10{margin-left:-10px}
.ML0{margin-left:0}
.ML1{margin-left:1px}
.ML2{margin-left:2px}
.ML3{margin-left:3px}
.ML4{margin-left:4px}
.ML5{margin-left:5px}
.ML6{margin-left:6px}
.ML7{margin-left:7px}
.ML8{margin-left:8px}
.ML9{margin-left:9px}
.ML10{margin-left:10px}
.ML15{margin-left:15px}
.ML20{margin-left:20px}
.ML25{margin-left:25px}
.ML30{margin-left:30px}
.ML35{margin-left:35px}
.ML40{margin-left:40px}
.ML45{margin-left:45px}
.ML50{margin-left:50px}
.ML55{margin-left:55px}
.ML60{margin-left:60px}
.ML65{margin-left:65px}
.ML70{margin-left:70px}
.ML75{margin-left:75px}
.ML80{margin-left:80px}
.ML85{margin-left:85px}
.ML90{margin-left:90px}
.ML95{margin-left:95px}
.ML100{margin-left:100px}
.ML105{margin-left:105px}
.ML110{margin-left:110px}
.ML115{margin-left:115px}
.ML120{margin-left:120px}
.ML125{margin-left:125px}
.ML130{margin-left:130px}
.ML135{margin-left:135px}
.ML140{margin-left:140px}
.ML145{margin-left:145px}
.ML150{margin-left:150px}
.SQR-A5{border-radius:5px}
.SQR-A10{border-radius:5px}
.SQR-A15{border-radius:5px}
.SQR-A20{border-radius:5px}
.SQR-TL5{border-radius:5px 0 0 0}
html{font-size:16px}
body{font-family:'AllerLightRegular',Trebuchet MS,sans-serif;font-size:62.5%;position:relative}
strong{color:#28abe2;font-weight:bold}
.hidden-seo{left:-9999px;height:0;position:absolute;top:-9999px;width:0}
.title{font-family:'Trebuchet MS',Helvetica,sans-serif}
.miniTitle{font-family:'AllerBold',Trebuchet MS,sans-serif}
.subtitle{font-family:'AllerLightRegular',Trebuchet MS,sans-serif}
h2.title{font-size:3.5em;font-weight:bold}
.alert-error{background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;font-size:1.6em;height:100%;min-height:768px;padding-top:300px;position:relative;width:100%;z-index:1500;}
.alert-error .title{color:#053b73;font-size:2em}
.alert-error .subtitle{color:#28abe2;font-size:1.2em}
#header,#video-banner,#inner-banner,.container,#ideario,#guidance,#models,#levels,#campus,#campus-locations,#instalaciones,#news-blog,#contact,#social,#boletin,#footer{min-width:1200px}
.ui-icon{background:url("../img/cmn-ui-grid_01.png") no-repeat;display:block;height:85px;margin:-45px auto 0 auto;overflow:hidden;width:85px}
.arrow-down-icon{background-position:-10px -8px}
.light-bulb-icon{background-position:-8px -109px}
.clock-ui-icon{background-position:-10px -209px}
.guidance-icon{background-position:-11px -308px}
.graph-icon{background-position:-10px -408px}
.map-icon{background-position:-109px -11px;position:relative;z-index:100}
.news-icon{background-position:-110px -111px}
.mail-icon{background-position:-110px -210px}
.twitter-icon{background-position:-206px -224px;height:57px;margin:0 20px 0 0;width:53px}
.facebook-icon{background-position:-274px -224px;height:57px;margin:0 20px 0 0;width:53px}
.youtube-icon{background-position:-342px -224px;height:57px;margin:0 20px 0 0;width:53px}
.phone-icon{background-position:-217px -317px;float:left;height:19px;margin:10px 8px 0 0;width:15px}
.la-calma-icon,.sta-anita-icon{background-position:-111px -310px}
.morelia-icon{background-position:-110px -409px}
.queretaro-icon{background-position:-210px -11px}
.puebla-icon{background-position:-212px -110px}
.nav-icon{background:url("../img/cmn-ui-grid_01.png") no-repeat;display:inline-block;height:27px;margin-right:10px;overflow:hidden;text-transform:none;vertical-align:middle;width:27px}
.inicio-icon{background-position:-312px -313px}
.ideario-icon{background-position:-362px -314px}
.history-icon{background-position:-312px -364px}
.models-icon{background-position:-362px -362px}
.levels-icon{background-position:-311px -414px}
.campus-icon{background-position:-361px -413px}
.news-blog-icon{background-position:-263px -363px}
.contact-icon{background-position:-263px -413px}
.social-share{bottom:85px;left:140px;position:absolute;}
.social-share .st_twitter_large .stButton{background:url("../img/twitter-icon-small.png") 0 0 no-repeat;display:inline-block !important;height:34px;margin:0 2px;overflow:hidden;padding:0;vertical-align:middle;width:32px;}
.social-share .st_twitter_large .stButton:hover{background:url("../img/twitter-icon-small.png") 0 -34px no-repeat}
.social-share .st_twitter_large .stLarge{display:none !important}
.social-share .st_twitter_large img{display:none !important}
.social-share .st_facebook_large .stButton{background:url("../img/facebook-icon-small.png") 0 0 no-repeat;display:inline-block !important;height:34px;margin:0 2px;overflow:hidden;padding:0;vertical-align:middle;width:32px;}
.social-share .st_facebook_large .stButton:hover{background:url("../img/facebook-icon-small.png") 0 -34px no-repeat}
.social-share .st_facebook_large .stLarge{display:none !important}
.social-share .st_facebook_large img{display:none !important}
#header{float:Layout;position:relative;z-index:1000;width:100%;}
#header .nav-button{background:#29c6ef;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.3);box-shadow:2px 2px 0 rgba(0,0,0,0.3);display:block;color:#fff;font-size:2.2em;height:40px;margin:.65em 0;padding:5px 0;text-align:center;width:38px;}
#header .nav-button:hover{background:#ea7706;color:#fff;text-decoration:none}
#header .login{background:url("../img/login-bg.png") center center no-repeat;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;font-size:1.6em;position:relative;}
#header .login .login-wrapper{float:left;cursor:pointer;padding:10px 0;margin:0 20px;position:relative;width:128px;z-index:1010;}
#header .login .login-wrapper a{color:#fff;}
#header .login .login-wrapper a .glyphicon-chevron-up{background:#f6921e;-webkit-border-radius:50%;border-radius:50%;-webkit-box-shadow:1px 2px 0 #e5691f;box-shadow:1px 2px 0 #e5691f;display:inline;color:#fff;font-size:.6em;margin-right:1em;padding:5px 6px;vertical-align:middle}
#header .login .login-wrapper a .glyphicon-chevron-down{background:#f6921e;-webkit-border-radius:50%;border-radius:50%;-webkit-box-shadow:1px 2px 0 #e5691f;box-shadow:1px 2px 0 #e5691f;display:inline;color:#fff;font-size:.6em;margin-right:1em;padding:5px 6px;vertical-align:middle}
#header .login .login-wrapper a .login-text{display:inline-block;font-size:.8em;vertical-align:center;margin:1em 0 1em 0;padding-top:5px}
#header .login .login-wrapper a:hover{text-decoration:none}
#header .login .login-wrapper:hover{background:#97c431}
#header .login .login-wrapper.login-active{background:#97c431}
#header .login-form-container{display:none;float:left;padding-top:68px;position:absolute;right:20px;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;top:-999px;width:318px;z-index:1005;}
#header .login-form-container form{background:#97c431;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;float:left;padding:1.5em;width:100%;}
#header .login-form-container form input[type="text"],#header .login-form-container form input[type="password"]{background:#fff;border:none;border-bottom:1px solid #afb0b4;-webkit-border-radius:3px;border-radius:3px;margin-bottom:10px;width:265px}
#header .login-form-container form input.submit{background:#f39d39;border:none;border-bottom:5px solid #ee8b39;-webkit-border-radius:3px;border-radius:3px;color:#fff;display:block;margin:0 auto 1em auto;padding:.6em 1.5em;text-align:center;text-transform:uppercase;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
#header .login-form-container form input.submit:hover{background:#134a84;border-bottom:5px solid #053b73}
#header .login-form-container form a{color:#053b73;text-decoration:underline;}
#header .login-form-container form a:hover{color:#fff}
#header .login-form-container.show-login{display:block;top:0}
#main-nav{display:block;color:#fff;left:-250px;height:100%;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);position:fixed;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;top:0;width:250px;z-index:1100;}
#main-nav .social-icons{background:#053b73;display:inline-block;padding:1em 0;text-align:center;width:100%;}
#main-nav .social-icons .social-icon{background:rgba(0,0,0,0.5);-webkit-border-radius:50%;border-radius:50%;-webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.3);box-shadow:2px 2px 0 rgba(0,0,0,0.3);color:#fff;display:inline-block;font-size:2em;margin:0 .4em;padding:10px;}
#main-nav .social-icons .social-icon:hover{background:#fff;color:#053b73;text-decoration:none}
#main-nav ul{background:#053b73;display:inline-block;margin:0;height:100%;padding:0;width:100%;}
#main-nav ul li > a{display:inline-block;padding:10px 0 10px 1em;width:100%;}
#main-nav ul li > a:hover{background:rgba(0,0,0,0.5)}
#main-nav ul li > a span.nav-text{color:#fff;display:inline-block;font-family:'Trebuchet MS',arial,Helvetica,sans-serif;font-size:1.7em;text-transform:uppercase;-webkit-transition:all 10s linear;-moz-transition:all 10s linear;-o-transition:all 10s linear;-ms-transition:all 10s linear;transition:all 10s linear;vertical-align:middle}
#main-nav.show-nav{left:0;opacity:1;-ms-filter:none;filter:none}
#main-nav.show-complete{width:250px}
.logo{left:44.5%;position:absolute;top:0;width:198px;z-index:1200}
#video-banner{background:#000;border-bottom:7px solid #28abe2;-webkit-box-shadow:0 .5em 2em rgba(0,0,0,0.2);box-shadow:0 .5em 2em rgba(0,0,0,0.2);float:left;height:435px;overflow:hidden;position:relative;text-align:center;width:100%;}
#video-banner video{left:0;opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);position:absolute;top:0;width:100%}
#video-banner .banner-text{color:#fff;display:inline-block;font-size:1.6em;margin-top:150px;text-align:left;}
#video-banner .banner-text .title{font-size:3.3em;font-weight:bold}
#video-banner .banner-text article{padding-right:4em;text-align:justify}
#video-banner .inner-banner-text{color:#fff;display:inline-block;font-size:1.6em;margin-top:150px;text-align:left;}
#video-banner .inner-banner-text .title{font-size:3.3em;font-weight:bold;margin-top:0}
#video-banner .inner-banner-text article{background:rgba(0,0,0,0.5);float:right;padding:2em;text-align:justify}
#video-banner .video-button{background:#fff;border:1px solid #000;-webkit-border-radius:50%;border-radius:50%;display:none;color:#000;height:80px;left:47.5%;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);overflow:hidden;position:absolute;top:50%;z-index:100;width:80px;}
#video-banner .video-button .glyphicon-play{display:block;color:#000;font-size:3em;padding:.8em .9em;position:relative;vertical-align:middle}
#video-banner .video-button:hover{text-decoration:none}
#inner-banner{border-bottom:7px solid #28abe2;float:left;height:190px;overflow:hidden;width:100%;}
#inner-banner img{width:100%}
#rotating-quotes{background:url("../img/wave-bg.png") left bottom repeat-x;float:left;padding:4em 0;position:relative;width:100%;z-index:0;}
#rotating-quotes .container .row .col-xs-12 > h3{color:#575757;font-family:'AllerLightRegular',Trebuchet MS,sans-serif;font-size:3.2em;text-align:center;}
#rotating-quotes .container .row .col-xs-12 > h3 strong{font-family:'AllerRegular',Trebuchet MS,sans-serif}
#rotating-quotes .icon-divider{bottom:-40px;display:block;position:absolute;width:100%}
#rotating-quotes .divider-top{top:0;display:block;position:absolute;width:100%}
#ideario{background:#053b73 url("../img/ideario-bg.jpg") center center repeat;color:#fff;font-size:1.6em;float:left;margin-top:-5px;padding:4em 0;text-align:justify;width:100%;}
#ideario .subtitle{color:#29c6ef;font-size:1.8em}
#ideario .container .row .col-sm-3{position:relative;}
#ideario .container .row .col-sm-3 .icon-heart{color:#ec1c24;font-size:100px;height:120px;left:118px;overflow:hidden;position:absolute;top:55px;width:120px;}
#ideario .container .row .col-sm-3 .icon-heart .glyphicon-heart{-webkit-animation:pound .6s infinite;-moz-animation:pound .6s infinite;-o-animation:pound .6s infinite;-ms-animation:pound .6s infinite;animation:pound .6s infinite;display:inline-block;-webkit-transform-origin:center;-moz-transform-origin:center;-o-transform-origin:center;-ms-transform-origin:center;transform-origin:center}
.bg-shadow{background:url("../img/section-shadow.png") center 3px no-repeat}
#history{float:left;font-size:1.6em;padding:1em 0 3em 0;position:relative;width:100%;}
#history .title{color:#053b73;margin-top:0}
#history .container{background:url("../img/history-timeline.png") 60px 80px no-repeat;}
#history .container .relevant-day > .col-sm-1{border-right:1px solid #28abe2;}
#history .container .relevant-day > .col-sm-1 .history-date{color:#28abe2;font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:2em;line-height:100%}
#history .container .relevant-day article{color:#575757;font-size:1.4em}
#history .container .relevant-day .data-info{border-left:1px solid #28abe2;}
#history .container .relevant-day .data-info .bigger-data-info{color:#575757;display:inline-block;font-family:AllerBold;font-size:2.5em;line-height:100%;width:100%}
#history .icon-divider{bottom:-40px;display:block;position:absolute;width:100%}
#history .bg-shadow{background-position:center top}
#guidance{background:#28abe2 url("../img/guidance-bg.png") center top no-repeat;color:#fff;float:left;font-size:2.7em;line-height:120%;padding:3.02em 0 1.4em 0;width:100%;}
#guidance article{text-align:justify}
#models{background:url("../img/modelos-bg.jpg") 0 0 repeat;-webkit-background-size:100%;-moz-background-size:100%;background-size:100%;float:left;position:relative;width:100%;}
#models .container .row .models-slider{overflow:hidden;position:relative;}
#models .container .row .models-slider .slider-control{left:0;position:absolute;top:75px;z-index:100;}
#models .container .row .models-slider .slider-control a{background:#fff;border:4px solid #28abe2;-webkit-border-radius:50%;border-radius:50%;-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);box-shadow:1px 1px 2px rgba(0,0,0,0.2);display:inline-block;font-size:1.6em;height:28px;margin:0 .6em 0 0;overflow:hidden;text-indent:-99999px;width:28px;}
#models .container .row .models-slider .slider-control a:hover{background:#f6921e}
#models .container .row .models-slider .slider-control a.activeSlide{background:#f6921e;border:4px solid #e4e4e4}
#models .container .row .models-slider ul{overflow:visible !important;}
#models .container .row .models-slider ul li.container-2{max-width:1072px !important;width:1072px !important;}
#models .container .row .models-slider ul li.container-2 section{color:#868686;font-size:1.6em;padding:4em 0 3em 0;}
#models .container .row .models-slider ul li.container-2 section .title{color:#053b73}
#models .container .row .models-slider ul li.container-2 section article{background:url("../img/checkmark.png") 60px 117px no-repeat;text-align:justify;}
#models .container .row .models-slider ul li.container-2 section article .subtitle{color:#28abe2;font-size:1.8em;text-align:center}
#models .container .row .models-slider ul li.container-2 section .valores{background:none;}
#models .container .row .models-slider ul li.container-2 section .valores .quote-valores{color:#868686;font-family:AllerLightRegular;font-size:2em;margin:0;padding:0;border:none}
#models .container .row .models-slider ul li.container-2 section .competencias{background-position:60px 5px;}
#models .container .row .models-slider ul li.container-2 section .competencias cite{background:url("../img/block-quote.png") 0 0 no-repeat;border:none;display:inline-block;font-size:1.1em;margin-start:0;overflow:hidden;padding:1em 0 0 0;}
#models .container .row .models-slider ul li.container-2 section .competencias cite span{font-size:.8em}
#models .container .row .models-slider ul li.container-2 .acude-section .subtitle{color:#28abe2;font-size:1.4em}
#models .icon-divider{background-position:center top;bottom:-40px;display:block;position:absolute;width:100%}
#levels{background:url("../img/niveles-bg.jpg") repeat;border-bottom:80px solid #fde53a;float:left;font-size:1.6em;padding:3em 0 0 0;width:100%;}
#levels .container .row .levels-content article .title{color:#053b73;margin-bottom:.6em}
#levels .container .row .levels-content article .subtitle{color:#28abe2;font-size:1.8em;line-height:120%;margin-bottom:1em}
#levels .container .row .levels-slider{background:url("../img/level-paper-bg.png") 0 0 no-repeat;margin:0;width:1200px;overflow:visible;padding:105px 0 50px 95px;position:relative;}
#levels .container .row .levels-slider .slider-control-2{left:105px;position:absolute;top:50px;z-index:100;}
#levels .container .row .levels-slider .slider-control-2 a{background:#fff;border:4px solid #28abe2;-webkit-border-radius:50%;border-radius:50%;-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);box-shadow:1px 1px 2px rgba(0,0,0,0.2);display:inline-block;font-size:1.6em;height:28px;margin:0 .6em 0 0;overflow:hidden;text-indent:-99999px;width:28px;}
#levels .container .row .levels-slider .slider-control-2 a:hover{background:#f6921e}
#levels .container .row .levels-slider .slider-control-2 a.activeSlide{background:#f6921e;border:4px solid #e4e4e4}
#levels .container .row .levels-slider ul{overflow:visible !important;}
#levels .container .row .levels-slider ul li.container-2{max-width:1065px !important;width:1065px !important;}
#levels .container .row .levels-slider ul li.container-2 .slide .levels-slider-content .title{color:#f6921e;font-family:AllerBold;margin:0}
#levels .container .row .levels-slider ul li.container-2 .slide .levels-slider-content .subtitle{color:#575757;margin:.3em 0 1.8em 0}
#levels .container .row .levels-slider ul li.container-2 .slide .levels-slider-content p{color:#868686;font-size:1.02em;text-align:justify}
#levels .container .row .levels-slider ul li.container-2 .slide figure img{position:absolute}
#levels .container .row .levels-slider ul li.container-2 .slide .maternal img{top:-125px;left:-180px}
#levels .container .row .levels-slider ul li.container-2 .slide .kinder img{top:-145px;left:-180px}
#levels .container .row .levels-slider ul li.container-2 .slide .primaria img{top:-100px;left:-100px}
#levels .container .row .levels-slider ul li.container-2 .slide .secundaria img{top:-137px;left:-100px}
#levels .container .row .levels-slider ul li.container-2 .slide .bachillerato img{top:-115px;left:-120px}
#levels-campus{background:url("../img/niveles-bg.jpg") repeat;float:left;font-size:1.6em;padding:5em 0 7.7em 0;position:relative;width:100%;}
#levels-campus .container .row .col-sm-12 .title{color:#053b73;margin:0 0 .6em 0}
#levels-campus .container .row .col-sm-12 ul{margin:0;padding:0;}
#levels-campus .container .row .col-sm-12 ul li{float:left;text-align:center;width:20%;}
#levels-campus .container .row .col-sm-12 ul li .title{color:#f6921e;font-family:AllerBold;margin-bottom:0}
#levels-campus .container .row .col-sm-12 ul li img{margin-bottom:1em}
#levels-campus .container .row .col-sm-12 ul li span{color:#868686;font-size:1em}
#levels-campus .icon-divider{background-position:center top;top:0;display:block;position:absolute;width:100%}
#campus{background:url("../img/niveles-bg.jpg") repeat;float:left;margin-top:-3.5em;width:100%;}
#campus .container .row.map-bg{background:url("../img/map-bg.png") right top no-repeat;padding:10em 0 9em 0;}
#campus .container .row.map-bg .map-marker-icon{background:url("../img/cmn-ui-grid_01.png") no-repeat;display:block;height:40px;position:absolute;text-decoration:none;width:30px}
#campus .container .row.map-bg .campus-la-calma,#campus .container .row.map-bg .campus-sta-anita{background-position:-210px -455px;color:#e5691f}
#campus .container .row.map-bg .campus-la-calma{right:509px;top:190px}
#campus .container .row.map-bg .campus-sta-anita{right:503px;top:137px}
#campus .container .row.map-bg .campus-queretaro{background-position:-311px -455px;right:303px;top:135px}
#campus .container .row.map-bg .campus-puebla{background-position:-360px -455px;right:201px;top:250px}
#campus .container .row.map-bg .campus-morelia{background-position:-262px -455px;right:396px;top:234px}
#campus .container .row.map-bg .la-calma-tooltip .tooltip-inner,#campus .container .row.map-bg .sta-anita-tooltip .tooltip-inner,#campus .container .row.map-bg .queretaro-tooltip .tooltip-inner,#campus .container .row.map-bg .puebla-tooltip .tooltip-inner,#campus .container .row.map-bg .morelia-tooltip .tooltip-inner{-webkit-box-shadow:3px 3px 3px rgba(0,0,0,0.5);box-shadow:3px 3px 3px rgba(0,0,0,0.5);font-family:AllerBold;font-size:1em;text-transform:uppercase}
#campus .container .row.map-bg .la-calma-tooltip .tooltip-arrow,#campus .container .row.map-bg .sta-anita-tooltip .tooltip-arrow{border-right-color:#e5691f}
#campus .container .row.map-bg .la-calma-tooltip .tooltip-inner,#campus .container .row.map-bg .sta-anita-tooltip .tooltip-inner{background:#e5691f}
#campus .container .row.map-bg .queretaro-tooltip .tooltip-arrow{border-right-color:#28abe2}
#campus .container .row.map-bg .queretaro-tooltip .tooltip-inner{background:#28abe2}
#campus .container .row.map-bg .puebla-tooltip .tooltip-arrow{border-right-color:#39b44a}
#campus .container .row.map-bg .puebla-tooltip .tooltip-inner{background:#39b44a}
#campus .container .row.map-bg .morelia-tooltip .tooltip-arrow{border-right-color:#814bc8}
#campus .container .row.map-bg .morelia-tooltip .tooltip-inner{background:#814bc8}
#campus .container .row .nuestro-campus{font-size:1.6em;padding-right:3.1em;}
#campus .container .row .nuestro-campus .title{color:#053b73}
#campus .container .row .nuestro-campus .subtitle{color:#28abe2;font-size:1.7em;line-height:120%;text-align:justify}
#campus-locations{background:url("../img/section-shadow-2.png") center 0 no-repeat;float:left;padding:5em 0 8em 0;width:100%;}
#campus-locations .container .row .campus-list ul{display:block;margin:0;padding:0;width:100%;}
#campus-locations .container .row .campus-list ul li{display:inline-block;margin:0 3.6em;}
#campus-locations .container .row .campus-list ul li a:hover{text-decoration:none;}
#campus-locations .container .row .campus-list ul li a:hover .ui-icon{opacity:1;-ms-filter:none;filter:none;top:-5px}
#campus-locations .container .row .campus-list ul li a:hover .la-calma-icon + .colegio,#campus-locations .container .row .campus-list ul li a:hover .sta-anita-icon + .colegio{color:#f6921e}
#campus-locations .container .row .campus-list ul li a:hover .morelia-icon + .colegio{color:#814bc8}
#campus-locations .container .row .campus-list ul li a:hover .queretaro-icon + .colegio{color:#29c6ef}
#campus-locations .container .row .campus-list ul li a:hover .puebla-icon + .colegio{color:#39b44a}
#campus-locations .container .row .campus-list ul li a .ui-icon{display:block;margin:0 auto;opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);position:relative;top:0;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
#campus-locations .container .row .campus-list ul li a .colegio{color:#575757;display:block;font-family:AllerBold;font-size:1.7em;text-transform:uppercase;width:100%}
#instalaciones{background:url("../img/instalaciones-bg.jpg") center top;-webkit-background-size:100%;-moz-background-size:100%;background-size:100%;float:left;font-size:1.6em;padding:3em 0 3.8em 0;width:100%;}
#instalaciones .container .row .subtitle{color:#28abe2;font-size:2em;margin-top:0;text-align:center}
#instalaciones .container .row p{color:#575757;font-size:1.1em;text-align:center}
#instalaciones .container .row a.instalaciones-btn{background:#28abe2;border-bottom:5px solid #2a9ed8;-webkit-border-radius:3px;border-radius:3px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;float:left;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;line-height:130%;margin-top:1.5em;padding:.8em 0;text-align:center;text-transform:uppercase;width:200px;}
#instalaciones .container .row a.instalaciones-btn:hover{background:#ea7706;border-bottom:5px solid #e5691f;text-decoration:none}
#instalaciones .container .row a.instalaciones-btn span{font-size:19px}
#news-blog{background:url("../img/blog-bg.jpg") 0 0 repeat;color:#fff;float:left;font-size:1.6em;padding:4em 0 2em 0;position:relative;width:100%;}
#news-blog .container{background:url("../img/blog-bg-2.png") center center no-repeat;}
#news-blog .container .row .news-blog .title{text-align:center}
#news-blog .container .row .news-blog .blog-grid{-webkit-box-shadow:1px 1px 19px rgba(0,0,0,0.5);box-shadow:1px 1px 19px rgba(0,0,0,0.5);display:block;margin:0 auto 40px auto;overflow:hidden;width:960px;}
#news-blog .container .row .news-blog .blog-grid .post{float:left;height:237px;overflow:hidden;position:relative;}
#news-blog .container .row .news-blog .blog-grid .post article{background:#e5e5e5;border-top:5px solid #ec1c24;bottom:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#868686;display:none;left:0;padding:20px 90px 20px 20px;position:absolute;width:100%;z-index:100;}
#news-blog .container .row .news-blog .blog-grid .post article .title{color:#053b73;font-size:1em;margin:0;text-align:left}
#news-blog .container .row .news-blog .blog-grid .post article p{font-size:.8em;margin-bottom:0}
#news-blog .container .row .news-blog .blog-grid .post article .date{background:url("../img/cmn-ui-grid_01.png") -206px -375px no-repeat;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;height:55px;font-size:.9em;line-height:120%;overflow:hidden;padding:6px 10px 15px 10px;position:absolute;right:30px;text-align:center;top:0;width:40px}
#news-blog .container .row .news-blog .blog-grid .post-1,#news-blog .container .row .news-blog .blog-grid .post-3,#news-blog .container .row .news-blog .blog-grid .post-4,#news-blog .container .row .news-blog .blog-grid .post-5{width:278px}
#news-blog .container .row .news-blog .blog-grid .post-2,#news-blog .container .row .news-blog .blog-grid .post-6{width:404px}
#news-blog .container .row .news-blog .blue-btn{background:#28abe2;border-bottom:5px solid #2a9ed8;-webkit-border-radius:3px;border-radius:3px;display:block;color:#fff;font-family:'AllerRegular',Trebuchet MS,sans-serif;font-size:.9em;height:40px;margin:0 auto 40px auto;padding:10px 12px;position:relative;text-align:center;text-transform:uppercase;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;width:105px;}
#news-blog .container .row .news-blog .blue-btn:hover{background:#ea7706;border-bottom:5px solid #e5691f;text-decoration:none}
#news-blog .container .row .news-blog .blue-btn:active{border-bottom:0 solid #e5691f;top:5px}
#news-blog .container .row .news-blog .pagination-container .pagination li a{background-color:#28abe2;border:none;border-bottom:5px solid #2a9ed8;-webkit-border-radius:3px;border-radius:3px;color:#fff;margin:0 5px;padding:12px 20px;}
#news-blog .container .row .news-blog .pagination-container .pagination li a:hover{background:#ea7706;border-bottom:5px solid #e5691f}
#news-blog .container .row .news-blog .pagination-container .pagination li.active span{background-color:#f6921e;border:none;border-bottom:5px solid #ee8b39;-webkit-border-radius:3px;border-radius:3px;color:#fff;margin:0 5px;padding:12px 20px}
#news-blog .container .row .news-blog .pagination-container .pagination li.disabled span{background-color:#28abe2;border:none;border-bottom:5px solid #2a9ed8;-webkit-border-radius:3px;border-radius:3px;color:rgba(255,255,255,0.4);margin:0 5px;padding:12px 20px}
#news-blog .container .row .news-blog-post .title{font-size:2.5em;padding-left:135px}
#news-blog .container .row .news-blog-post span.campus-blog{display:inline-block;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;margin-left:135px;}
#news-blog .container .row .news-blog-post span.campus-blog strong{font-family:'Trebuchet MS',Arial,Helvetica,sans-serif}
#news-blog .container .row .news-blog-post .post-wrapper{background:#f0f0f0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;clear:both;display:block;height:504px;overflow:hidden;margin:40px auto;width:930px;}
#news-blog .container .row .news-blog-post .post-wrapper .post-content{border-top:5px solid #ec1c24;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#8b8b8c;float:left;margin-bottom:40px;max-height:435px;overflow-y:scroll;padding:88px 25px 0 25px;position:relative;width:412px;}
#news-blog .container .row .news-blog-post .post-wrapper .post-content .date{background:url("../img/cmn-ui-grid_01.png") -206px -375px no-repeat;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;height:55px;font-size:.9em;line-height:120%;overflow:hidden;padding:6px 10px 15px 10px;position:absolute;left:25px;text-align:center;top:0;width:40px}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider{float:left;height:504px;overflow:hidden;position:relative;width:518px;}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider ul{float:left;height:504px;margin:0;padding:0;width:518px;}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider ul li{float:left;height:504px;width:518px;}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider ul li a{background-position:center center !important;background-repeat:no-repeat;border:none;float:left;height:504px;overflow:hidden;width:518px;}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider ul li a:hover{text-decoration:none}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider #next,#news-blog .container .row .news-blog-post .post-wrapper .post-slider #prev,#news-blog .container .row .news-blog-post .post-wrapper .post-slider #close-js{background:#4d4d4d;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;display:block;color:#fff;font-size:1.4em;opacity:.95;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";filter:alpha(opacity=95);padding:8px 15px 5px 15px;position:absolute;right:0;text-align:center;-webkit-transition:all 0.5 ease-in-out;-moz-transition:all 0.5 ease-in-out;-o-transition:all 0.5 ease-in-out;-ms-transition:all 0.5 ease-in-out;transition:all 0.5 ease-in-out;z-index:10;}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider #next:hover,#news-blog .container .row .news-blog-post .post-wrapper .post-slider #prev:hover,#news-blog .container .row .news-blog-post .post-wrapper .post-slider #close-js:hover{background:#28abe2;opacity:1;-ms-filter:none;filter:none}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider #close-js{top:0}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider #next{top:60px}
#news-blog .container .row .news-blog-post .post-wrapper .post-slider #prev{top:120px}
#news-blog .container .row .news-blog-post .post-navigation{float:left;margin:0 0 40px 0;padding:0;text-align:center;width:100%;}
#news-blog .container .row .news-blog-post .post-navigation li{display:inline-block;margin:0 3px;}
#news-blog .container .row .news-blog-post .post-navigation li .blue-btn{background:#28abe2;border-bottom:5px solid #2a9ed8;-webkit-border-radius:3px;border-radius:3px;display:inline-block;color:#fff;font-family:'AllerRegular',Trebuchet MS,sans-serif;font-size:.9em;height:40px;margin:0 auto 40px auto;padding:10px 12px;text-align:center;text-transform:uppercase;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;width:105px;}
#news-blog .container .row .news-blog-post .post-navigation li .blue-btn:hover{background:#ea7706;border-bottom:5px solid #e5691f;text-decoration:none}
#news-blog .container .row .news-blog-post .post-navigation li .blue-btn:active{border-bottom:0 solid #e5691f;top:5px}
#news-blog .icon-divider{background:url("../img/section-shadow-3.png") center 0 no-repeat;top:0;display:block;position:absolute;width:100%}
#contact{background:#28abe2 url("../img/contactanos-bg.jpg") 0 0 repeat;color:#fff;float:left;font-size:1.6em;padding:4em 0 2em 0;position:relative;width:100%;}
#contact .container .row .contact-container .title{margin-top:0;text-align:center}
#contact .container .row .contact-container .button-container button.contactanos{background:#f39d39;border:none;border-bottom:5px solid #ee8b39;-webkit-border-radius:3px;border-radius:3px;color:#fff;display:inline-block;padding:1em 3.8em;text-align:center;text-transform:uppercase;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
#contact .container .row .contact-container .button-container button.contactanos:hover{background:#ee8b39;border-bottom:5px solid #f39d39}
#contact .container .row .contact-container .button-container button.cita{background:#ea7706;border:none;border-bottom:5px solid #e5691f;-webkit-border-radius:3px;border-radius:3px;color:#fff;display:inline-block;padding:1em 3em;text-align:center;text-transform:uppercase;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
#contact .container .row .contact-container .button-container button.cita:hover{background:#e5691f;border-bottom:5px solid #ea7706}
#contact .container .row .contact-container .form-slider{display:block;margin:0 auto;width:720px;}
#contact .container .row .contact-container .form-slider ul li form#formulario-contacto,#contact .container .row .contact-container .form-slider ul li form#formulario-cita{max-width:720px;width:720px;}
#contact .container .row .contact-container .form-slider ul li form#formulario-contacto input[type="text"],#contact .container .row .contact-container .form-slider ul li form#formulario-cita input[type="text"],#contact .container .row .contact-container .form-slider ul li form#formulario-contacto input[type="email"],#contact .container .row .contact-container .form-slider ul li form#formulario-cita input[type="email"]{border:1px solid #afb0b4;-webkit-border-radius:3px;border-radius:3px;color:#053b73}
#contact .container .row .contact-container .form-slider ul li form#formulario-contacto select.campus-select,#contact .container .row .contact-container .form-slider ul li form#formulario-cita select.campus-select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff url("../img/select-button.png") right top no-repeat;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;border:1px solid #afb0b4;-webkit-border-radius:3px;border-radius:3px;color:#b3b3b3;cursor:pointer;float:left;margin-right:2%;outline:0;padding:0 16px;width:48%}
#contact .container .row .contact-container .form-slider ul li form#formulario-contacto select.campus-select-2,#contact .container .row .contact-container .form-slider ul li form#formulario-cita select.campus-select-2{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff url("../img/select-button.png") right top no-repeat;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;border:1px solid #afb0b4;-webkit-border-radius:3px;border-radius:3px;color:#b3b3b3;cursor:pointer;float:left;outline:0;padding:0 16px;width:100%}
#contact .container .row .contact-container .form-slider ul li form#formulario-contacto input.date-select,#contact .container .row .contact-container .form-slider ul li form#formulario-cita input.date-select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;border:1px solid #afb0b4;-webkit-border-radius:3px;border-radius:3px;color:#b3b3b3;cursor:pointer;float:left;margin-left:2%;outline:0;padding:0 16px;width:48%}
#contact .container .row .contact-container .form-slider ul li form#formulario-contacto select.asunto-select,#contact .container .row .contact-container .form-slider ul li form#formulario-cita select.asunto-select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff url("../img/select-button.png") right top no-repeat;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;border:1px solid #afb0b4;-webkit-border-radius:3px;border-radius:3px;color:#b3b3b3;cursor:pointer;float:left;outline:0;padding:0 16px;width:100%}
#contact .container .row .contact-container .form-slider ul li form#formulario-contacto textarea.mensaje-contacto,#contact .container .row .contact-container .form-slider ul li form#formulario-cita textarea.mensaje-contacto{border:1px solid #afb0b4;-webkit-border-radius:3px;border-radius:3px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px 16px}
#contact .container .row .contact-container .form-slider ul li form#formulario-contacto input.submit,#contact .container .row .contact-container .form-slider ul li form#formulario-cita input.submit{background:#f39d39;border:none;border-bottom:5px solid #ee8b39;-webkit-border-radius:3px;border-radius:3px;color:#fff;display:block;margin:0 auto;padding:.6em 2.5em;text-align:center;text-transform:uppercase;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
#contact .container .row .contact-container .form-slider ul li form#formulario-contacto input.submit:hover,#contact .container .row .contact-container .form-slider ul li form#formulario-cita input.submit:hover{background:#ee8b39;border-bottom:5px solid #f39d39}
#contact .icon-divider{background:url("../img/section-shadow-3.png") center 0 no-repeat;top:0;display:block;position:absolute;width:100%}
#social{background:url("../img/social-bg.jpg") repeat;border-top:10px solid #fff;float:left;padding:3em 0 3em 0;width:100%;}
#social .container .row .col-sm-4{color:#becbd1;font-size:1.7em;padding-left:50px;}
#social .container .row .col-sm-4 .FZ26{font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-weight:bold;line-height:120%}
#social .container .row .col-sm-4 a{color:#becbd1;text-decoration:none}
#boletin{background:#053b73;color:#fff;float:left;padding:3em 0;width:100%;}
#boletin .container .row .col-sm-5{font-size:2.2em;text-align:right;text-transform:uppercase;}
#boletin .container .row .col-sm-5 strong{font-family:AllerBold;font-weight:bold}
#boletin .container .row .col-sm-7 form#boletin-noticias input.email-subscription{border:none;-webkit-border-radius:2px;border-radius:2px;float:left;width:375px}
#boletin .container .row .col-sm-7 form#boletin-noticias input.submit-subscription{background:#28abe2;border:none;border-bottom:5px solid #2a9ed8;-webkit-border-radius:2px;border-radius:2px;display:block;color:#fff;font-family:'AllerRegular',Trebuchet MS,sans-serif;font-size:1.4em;padding:10px 30px;position:relative;text-align:center;text-transform:uppercase;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
#boletin .container .row .col-sm-7 form#boletin-noticias input.submit-subscription:hover{background:#ea7706;border-bottom:5px solid #e5691f}
#footer{background:#005696;color:#fff;float:left;font-size:1.6em;padding:2em 0 0 0;width:100%;}
#footer .container .row .all-campus-info .campus-info{float:left;margin-right:50px;}
#footer .container .row .all-campus-info .campus-info h5{font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:1.1em;font-weight:bold;text-transform:uppercase}
#footer .container .row .all-campus-info .campus-info .tel{color:#28abe2;float:left;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-weight:bold;font-size:.9em;margin-bottom:.7em;width:100%}
#footer .container .row .all-campus-info .campus-info .address{float:left;font-size:.8em;width:100%}
#footer .container .row .all-campus-info .campus-info .email-info{color:#fff;float:left;font-size:.8em;width:100%}
#footer .container .row .all-campus-info .la-calma{width:163px}
#footer .container .row .all-campus-info .sta-anita{width:192px}
#footer .container .row .all-campus-info .queretaro{width:182px}
#footer .container .row .all-campus-info .puebla{width:216px}
#footer .container .row .all-campus-info .morelia{width:184px;margin:0}
#footer .container .row .one-campus-info .title{margin-bottom:.5em}
#footer .container .row .one-campus-info .campus-info .tel{color:#28abe2;float:left;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-weight:bold;font-size:1em;margin:1em 10px 0 120px;width:200px;}
#footer .container .row .one-campus-info .campus-info .tel .phone-icon{margin-top:13px}
#footer .container .row .one-campus-info .campus-info .tel .phone-numbers{margin-top:4px}
#footer .container .row .one-campus-info .campus-info .address{float:left;width:315px}
#footer .container .row .one-campus-info .campus-info a{color:#fff;}
#footer .container .row .one-campus-info .campus-info a:hover{text-decoration:underline}
#footer .container .row .queretaro-map{background:url("../img/queretaro-map.png") 50px 20px no-repeat}
#footer .container .copyright{background:url("../img/copyright-shadow.png") center top no-repeat;color:#becbd1;font-size:.9em;padding:1.5em 0 1em 0;text-align:center;text-transform:uppercase}
@media screen and (max-width:422px){.gn-menu-wrapper.gn-open-all{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);width:100%}
.gn-menu-wrapper.gn-open-all .gn-scroller{width:130%}
}@media all and (max-width:1200px){.logo{left:502px}
#models{-webkit-background-size:100% 100%;-moz-background-size:100% 100%;background-size:100% 100%}
}@-moz-keyframes pound{0%,100%{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none}
50%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
}@-webkit-keyframes pound{0%,100%{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none}
50%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
}@-o-keyframes pound{0%,100%{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none}
50%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
}@-ms-keyframes pound{0%,100%{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none}
50%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
}@keyframes pound{0%,100%{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none}
50%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
}