// Imported Stylesheets
@import 'bootstrap.min.css'
@import 'bootstrap-theme-min.css'
@import '../fonts/aller-font.css'
@import 'customize.styl'
@import 'nib/vendor'

vendor-prefixes = webkit moz o ms official

// Color Variables
white = #ffffff
black = #000000
blue = #134a84
lightBlue = #28abe2
darkerBlue = #053b73
kingBlue = #005696
funnyBlue = #29c6ef
gray = #575757
lightGray = #e5e5e5
orange = #f6921e
purple = #814bc8
green = #39b44a
red = #ec1c24
darkerRed = #c21c27

// Color Variables for Text
textGray1 = #868686
textGray2 = #575757
socialGray = #bfccd2

// Color Variables for Buttons
orangeBtn = #ea7706
orangeBtnBorder = #e5691f

lightOrangeBtn = #f39d39
lightOrangeBtnBorder = #ee8b39

lightBlueBtn = #28abe2
lightBlueBtnBorder = #2a9ed8

socialGray = #bfccd2
socialGrayShadow = #b9c6cc

// Font Variables
title = 'Trebuchet MS', Helvetica, sans-serif
miniTitle = 'AllerBold', Trebuchet MS, sans-serif
copyFont = 'AllerLightRegular', Trebuchet MS, sans-serif


// Theme Styles

.hidden-seo
	left -9999px
	height 0
	position absolute
	top -9999px
	width 0px